<h1>Confirm Deletion</h1>

<p>Are you sure you want to delete this resource?</p>

<%= link_to "Cancel", admin_index_path %>
<%= link_to "Confirm Delete", admin_destroy_path, method: :delete, data: { confirm: "Are you sure?" } %>
