# <!-- app/views/orders/index.html.erb -->
<h1>Your Order History</h1>
<ul>
  <% @orders.each do |order| %>
    <li>
      <%= link_to "Order ##{order.id}", order %><br>
      Order Date: <%= order.created_at %><br>
      Total: $<%= order.total %>
    </li>
  <% end %>
</ul>
