<h1>Product Added to Cart</h1>
<p>Your selected product has been added to your cart.</p>
<%= link_to "Continue Shopping", root_path, class: "btn btn-primary" %>
<%= link_to "View Cart", cart_path, class: "btn btn-success" %>
