# <!-- app/views/categories/show.html.erb -->
<h1><%= @category.name %></h1>
<p>Description: <%= @category.description %></p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>