# <!-- app/views/products/index.html.erb -->
<h1>Product List</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %><br>
      Description: <%= product.description %><br>
      Price: $<%= product.price %>
    </li>
  <% end %>
</ul>
